<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>WikiWalk - Subscribe</title>
        <link rel="icon" type="image/x-icon" href="images/favicon.ico">
        <link rel="stylesheet" href="../static/styles.css">
    </head>
<body>
    <h1>WikiWalk</h1>

    <img src="forest-gump-bench.gif" alt="forest gump" class="center">
    <h2> Subscribe below: </h2>

    <form id="usr-info" action="subscribed.htm" onsubmit="getInput();">
        First name: <input type="text" name="fname" placeholder="Wiki"><br>
        Last name: <input type="text" name="lname" placeholder="Walker"><br>
        Email: <input type="text" name="email" placeholder="wikiwalker@gmail.com"><br><br>
        <input id="subscribe_button" type="submit" value="Feeling Wiki?">
      </form>
    <script src="../static/scripts.js"></script>

</body>
</html>
